<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.simple.chris.pebble">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.SET_WALLPAPER" />

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Main"
        tools:ignore="AllowBackup,GoogleAppIndexingWarning">
        <activity android:name=".Settings"></activity>
        <activity android:name=".Feedback" />
        <activity android:name=".ColourPicker" />
        <activity android:name=".CreateGradientNew" />
        <activity
            android:name=".SearchGradient"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ActivityGradientDetails"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ActivitySplash"
            android:screenOrientation="portrait"
            android:theme="@style/splashTheme"
            tools:ignore="LockedOrientationActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".ActivityBrowse"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity android:name=".ActivitySettings" />
        <activity
            android:name=".ConnectingActivity"
            android:screenOrientation="portrait"
            tools:ignore="LockedOrientationActivity" />
        <activity
            android:name=".ActivityPermissions"
            tools:ignore="LockedOrientationActivity" />
    </application>

</manifest>